extends viewStyle/index.pug

block content

    .highlight-blue
        .container
            .intro
                h2(class="text-center") Highlight
                p(class="text-center")
                    | Hola xd
                .buttons
                    a(class="btn btn-primary" role="button" href="#") Primary