extends ../../config/config.pug

block content

    #wrapper.d-flex
        include ../../listgroup/listgroup-usuario.pug
        #page-content-wrapper
            include ../../Navbars/navbar-sidebar.pug
            .container-fluid
                h1.mt-4 comentarios

    script.
        $('#menu-toggle').click(function(e){
            e.preventDefault();
            $('#wrapper').toggleClass('toggled');
        });