.carousel-item img{
    height: 450px;
}

.box svg{
    width: 50px;
    height: 60px;
    margin-bottom: 20px;
}

.box:hover{
    cursor: pointer;
    background: #999;
}

@media (max-width: 768px){
    .carousel-item img{
        height: 500px;
    }
}

.login-clean{
    margin-top: 10%;
}

nav.navbar.navbar-light.navbar-expand-lg.fixed-top.bg-white.clean-navbar{
    -webkit-box-shadow: 10px -12px 19px 2px rgba(0,0,0,0.18);
    -moz-box-shadow: 10px -12px 19px 2px rgba(0,0,0,0.18);
    box-shadow: 10px -12px 19px 2px rgba(0,0,0,0.18);
}

li.nav-item{
    padding-left: 10px;
    padding-right: 10px;
}

li.nav-item a.nav-link, a.navbar-brand.logo{
    font-family: 'Passion One', cursive;
    font-size: 22px;
}

a.list-group-item.list-group-item-action.bg-light.hvr-icon-wobble-horizontal svg{
    width: 15px;
    height: 15px;
    margin-left: 0.5em;
}

button#menu-toggle.btn.btn-primary svg{
    width: 15px;
    height: 15px;
}

input.btn.btn-success[type="submit"]{
    width: 100%;
    font-size: 20px
}

form.form-modificar-adminUI{
    margin-bottom: 20px;
}

.col-xs-6 a.btn.btn-success{
    margin-left: 40px;
}

.col-xs-6 form .form-group{
    margin-left: 40px;
}

.row a.btn.btn-danger{
    margin-left: 20px;
}

tbody tr th form input[type="text"]{
    width: 60%;
}

.container.mt-5.mb-5 .owl-carousel.owl-theme .ml-2.mr-2{
    width: 100px;
    height: 50px;
    background: #999;
}

.container.slider-categorias #carouselExampleControls2.carousel.slide .carousel-inner .carousel-item.active .row .col-4 img{
    height: 200px;
}

.parralax{
    background-image: url("../../img/parralax/parralax-1.jpg");
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parralax-2{
    background-image: url("../../img/parralax/parralax-2.jpg");
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row .col-4 a{
    background: #888;
}

ul.nav.justify-content-center li.nav-item  a.hvr-icon-down svg{
    width: 15px;
    height: 15px;
    margin-left: 0.5em;
}

ul.nav.justify-content-center{
    margin-top: 65px;
}

ul.nav.justify-content-center li.nav-item{
    padding: 10px;
    margin-left: 5px;
}

ul.nav.justify-content-center li.nav-item  a.hvr-icon-down{
    font-family: 'Concert One', cursive;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

ul.nav.justify-content-center{
    background: #666;
}