nav.navbar.navbar-light.navbar-expand-lg.fixed-top.bg-white.clean-navbar{
    -webkit-box-shadow: 10px -12px 19px 2px rgba(0,0,0,0.18);
    -moz-box-shadow: 10px -12px 19px 2px rgba(0,0,0,0.18);
    box-shadow: 10px -12px 19px 2px rgba(0,0,0,0.18);
}

li.nav-item{
    padding-left: 10px;
    padding-right: 10px;
}

li.nav-item a.nav-link, a.navbar-brand.logo{
    font-family: 'Passion One', cursive;
    font-size: 22px;
}