extends ../config/config.pug

block content

        ul.nav.justify-content-center
            li.nav-item
                a.hvr-icon-down(href="/index-usuario/Procesadores") Procesadores
                    include ../../public/img/icons-sidebar/expand-button.svg
            li.nav-item
                a.hvr-icon-down(href="/index-usuario/MemoriaRam") Memoria RAM
                    include ../../public/img/icons-sidebar/expand-button.svg
            li.nav-item
                a.hvr-icon-down(href="/index-usuario/FuentePoder") Fuentes de poder
                    include ../../public/img/icons-sidebar/expand-button.svg
            li.nav-item
                a.hvr-icon-down(href="/index-usuario/Monitores") Monitores
                    include ../../public/img/icons-sidebar/expand-button.svg
            li.nav-item
                a.hvr-icon-down(href="/index-usuario/TarjetaMadre") Tarjetas madre
                    include ../../public/img/icons-sidebar/expand-button.svg
            li.nav-item
                a.hvr-icon-down(href="/index-usuario/DiscosDuros") Discos duros
                    include ../../public/img/icons-sidebar/expand-button.svg
            li.nav-item
                a.hvr-icon-down(href="/index-usuario/Mouse") Mouse
                    include ../../public/img/icons-sidebar/expand-button.svg
            li.nav-item
                a.hvr-icon-down(href="/index-usuario/Teclados") Teclados
                    include ../../public/img/icons-sidebar/expand-button.svg
            li.nav-item
                a.hvr-icon-down(href="/index-usuario/TarjetaVideo") Tarjetas de video
                    include ../../public/img/icons-sidebar/expand-button.svg
            li.nav-item
                a.hvr-icon-down(href="/index-usuario/EquiposHechos") Equipos Hechos
                    include ../../public/img/icons-sidebar/expand-button.svg