extends ../../config/config.pug

block content

    <!-- Consultar Empleado -->
    <!-- Agregar Empleado -->
    <!-- Disponibilidad -->
    #wrapper.d-flex
        include ../../listgroup/listgroup-admin.pug
        #page-content-wrapper
            include ../../Navbars/navbar-AdminUI.pug
            .container-fluid
                container
                    form.form-modificar-adminUI(action="" method="POST")
                        .form-group
                            label(for="nombre") Nombre:
                            input.form-control#nombre(type="text" name="nombre" placeholder="Nombre")
                        .form-group
                            label(for="apellido") Apellido:
                            input.form-control#apellido(type="text" name="apellido" placeholder="Apellido")
                        .form-group
                            label(for="email") Correo:
                            input.form-control#email(type="email" name="email" placeholder="Email")
                        .form-group
                            label(for="password") Contraseña:
                            input.form-control#password(type="password" name="password" placeholder="Contraseña")

                        input.btn.btn-success(type="submit", value="Agregar")

    script.
        $('#menu-toggle').click(function(e){
            e.preventDefault();
            $('#wrapper').toggleClass('toggled');
        });