extends ../../config/config.pug

block content

    #wrapper.d-flex
        #page-content-wrapper
            include ../../Navbars/navbar-AdminUI.pug
            .container-fluid
                .row
                    .col-md-6.col-xs-6.col-sm-6
                        form(action="", method="post")
                            input(type="text" name="nombreEmpleado")
                    .col-md-6.col-xs-6.col-sm-6
                        a.btn.btn-danger(href="#" role="button") Agregar Empleado
                    a.btn.btn-danger(href="#" role="button") Consultar
                table.table
                    thead.thead-dark
                        tr
                            th(scope="col") #
                            th(scope="col") Nombre
                            th(scope="col") Apellido
                            th(scope="col") Cedula
                            th(scope="col") Accion
                    tbody
                        tr
                            th 1
                            th juan
                            th manuel
                            th 315382839
                            th
                                a.btn.btn-danger(role="button" href="#") Eliminar
                                a.btn.btn-success.hola(role="button" href="#") Disponible
                        tr
                            th 2
                            th cuellar
                            th bahamon
                            th 315382839
                            th
                                a.btn.btn-danger(role="button" href="#") Eliminar
                                a.btn.btn-success(role="button" href="#") Disponible

    script.
        $('#menu-toggle').click(function(e){
            e.preventDefault();
            $('#wrapper').toggleClass('toggled');
        });