extends ../../config/config.pug

block content

    #wrapper.d-flex
        #page-content-wrapper
            include ../../Navbars/navbar-AdminUI.pug
            .container-fluid
            <!-- agregar el producto como tal -->
                .row
                    .col-md-6
                        form(action="", method="post")
                            input(type="text" name="categoriaProducto")
                            input(type="text" name="descripcion")
            <!-- consultar dicha categoria -->
                    .col-md-6
                        form(action="", method="post")
                            input(type="text" name="opcion")
            <!-- consultar todos los productos -->

    script.
        $('#menu-toggle').click(function(e){
            e.preventDefault();
            $('#wrapper').toggleClass('toggled');
        });