extends ../../config/config.pug

block content

    #wrapper.d-flex
        #page-content-wrapper
            include ../../Navbars/navbar-AdminUI.pug
            .container-fluid
                h1.mt-4 productos

    script.
        $('#menu-toggle').click(function(e){
            e.preventDefault();
            $('#wrapper').toggleClass('toggled');
        });