extends ../../config/config.pug

block content

    #wrapper.d-flex
        include ../../listgroup/listgroup-admin.pug
        #page-content-wrapper
            include ../../Navbars/navbar-AdminUI.pug
            .container-fluid
                .row
                    .col-xs-12
                        form.form-inline(action="", method="POST")
                            .form-group
                                label(for="nombreUsuario")
                                input.mb-2#nombreUsuario(type="text", name="nombreUsuario" placeholder="Nombre del Usuario")
                            input.btn.btn-primary(type="submit", value="Buscar")
                table.table
                    thead.thead-dark
                        tr
                            th(scope="col") #
                            th(scope="col") Nombre
                            th(scope="col") Apellido
                            th(scope="col") Cedula
                    tbody
                        tr
                            th 1
                            th juan
                            th manuel
                            th 315382839
                        tr
                            th 2
                            th cuellar
                            th bahamon
                            th 315382839


    script.
        $('#menu-toggle').click(function(e){
            e.preventDefault();
            $('#wrapper').toggleClass('toggled');
        });