extends ../Navbars/navbar-index.pug

block navbar-index
    
    #carouselExampleControls.carousel.slide(data-ride='carousel')
        .carousel-inner
            .carousel-item.active
                img.d-block.w-100(src='img/slider-1.jpg' style="width:900px" alt='First slide')
            .carousel-item
                img.d-block.w-100(src='img/slider-2.jpg' style="width:900px" alt='Second slide')
            .carousel-item
                img.d-block.w-100(src='img/slider-3.jpg' style="width:900px" alt='Third slide')
        a.carousel-control-prev(href='#carouselExampleControls' role='button' data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleControls' role='button' data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
    
    .features-boxed
        .container
            .row.justify-content-center.features
                .col-sm-6.col-md-5.col-lg-4.item
                    .box.hvr-bounce-in
                        include ../../public/img/delivery-truck.svg
                        h3.name Envios Rapidos
                        p.description
                            | Envios a todo el pais con 2 dias de anticipacion 
                .col-sm-6.col-md-5.col-lg-4.item
                    .box.hvr-bounce-in
                        include ../../public/img/shopping-bag.svg
                        h3.name Mejores precios
                        p.description
                            | Ofrecemos los mejores precios para nuestros consumidores
                .col-sm-6.col-md-5.col-lg-4.item
                    .box.hvr-bounce-in
                        include ../../public/img/user.svg
                        h3.name Servicio 24/7
                        p.description
                            | Estamos totalmente disponible al consumidor para la mejor atencion

    include ../footer/footer.pug