extends ../config/config.pug

block content

    #sidebar-wrapper.bg-light.border-right
        .list-group.list-group-flush
            a.list-group-item.list-group-item-action.bg-light.hvr-icon-wobble-horizontal(href="modificarEmpleado") Modificar
                include ../../public/img/icons-sidebar/right.svg
            a.list-group-item.list-group-item-action.bg-light.hvr-icon-wobble-horizontal(href="comentariosEmpleado") Comentarios
                include ../../public/img/icons-sidebar/right.svg
            a.list-group-item.list-group-item-action.bg-light.hvr-icon-wobble-horizontal(href="ventasEmpleado") Ventas
                include ../../public/img/icons-sidebar/right.svg
            a.list-group-item.list-group-item-action.bg-light.hvr-icon-wobble-horizontal(href="productosEmpleado") Productos
                include ../../public/img/icons-sidebar/right.svg
            a.list-group-item.list-group-item-action.bg-light.hvr-icon-wobble-horizontal(href="usuariosEmpleado") Usuarios Registrados
                include ../../public/img/icons-sidebar/right.svg