extends ../config/config.pug

block content

    #sidebar-wrapper.bg-light.border-right
        .list-group.list-group-flush
            a.list-group-item.list-group-item-action.bg-light.hvr-icon-wobble-horizontal(href="/EmpleadosUI/modificar") Modificar
                include ../../public/img/icons-sidebar/right.svg
            a.list-group-item.list-group-item-action.bg-light.hvr-icon-wobble-horizontal(href="/EmpleadosUI/comentarios") Comentarios
                include ../../public/img/icons-sidebar/right.svg
            a.list-group-item.list-group-item-action.bg-light.hvr-icon-wobble-horizontal(href="/EmpleadosUI/productos") Productos
                include ../../public/img/icons-sidebar/right.svg
            a.list-group-item.list-group-item-action.bg-light.hvr-icon-wobble-horizontal(href="/EmpleadosUI/usuarios") Usuarios Registrados
                include ../../public/img/icons-sidebar/right.svg