extends ../config/config.pug

block content

    #sidebar-wrapper.bg-light.border-right
        .list-group.list-group-flush
            a.list-group-item.list-group-item-action.bg-light.hvr-icon-wobble-horizontal(href="modificarAdmin") Modificar
                include ../../public/img/icons-sidebar/right.svg
            a.list-group-item.list-group-item-action.bg-light.hvr-icon-wobble-horizontal(href="empleadosAdmin") Empleados
                include ../../public/img/icons-sidebar/right.svg
            a.list-group-item.list-group-item-action.bg-light.hvr-icon-wobble-horizontal(href="productosAdmin") Productos
                include ../../public/img/icons-sidebar/right.svg
            a.list-group-item.list-group-item-action.bg-light.hvr-icon-wobble-horizontal(href="ventasAdmin") Ventas
                include ../../public/img/icons-sidebar/right.svg
            a.list-group-item.list-group-item-action.bg-light.hvr-icon-wobble-horizontal(href="usuariosAdmin") Usuarios Registrados
                include ../../public/img/icons-sidebar/right.svg