extends ../config/config.pug

block content

    .bg-light.border-right
        .list-group.list-group-flush
            a.list-group-item.list-group-item-action.bg-light.hvr-icon-wobble-horizontal(href="/AdminUI/modificar") Modificar
                include ../../public/img/icons-sidebar/right.svg
            a.list-group-item.list-group-item-action.bg-light.hvr-icon-wobble-horizontal(href="/AdminUI/empleados") Empleados
                include ../../public/img/icons-sidebar/right.svg
            a.list-group-item.list-group-item-action.bg-light.hvr-icon-wobble-horizontal(href="/AdminUI/productos") Productos
                include ../../public/img/icons-sidebar/right.svg
            a.list-group-item.list-group-item-action.bg-light.hvr-icon-wobble-horizontal(href="/AdminUI/ventas") Ventas
                include ../../public/img/icons-sidebar/right.svg
            a.list-group-item.list-group-item-action.bg-light.hvr-icon-wobble-horizontal(href="/AdminUI/usuarios") Usuarios Registrados
                include ../../public/img/icons-sidebar/right.svg